<%- include('../userLayouts/header.ejs') %>
<%- include('../userLayouts/navbar.ejs') %>
<main class="main">
    <div class="page-content">
        <div class="dashboard">
            <div class="container d-flex justify-content-center">
                <div class="col-lg-5">
                    <h4 class="pt-3">Add Address</h4>
                    <form action="/addAddress" method="post">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="userName" required>

                        <label>Mobile</label>
                        <input type="text" class="form-control" name="mobile" required>

                        <label>Altrenative Mobile</label>
                        <input type="text" class="form-control" name="altrenativeMobile">

                        <label>House Name</label>
                        <input type="text" class="form-control" name="house">

                        <label>City</label>
                        <input type="text" class="form-control" name="city">

                        <label>State</label>
                        <input type="text" class="form-control mb-2" name="state">

                        <label>Pincode</label>
                        <input type="text" class="form-control mb-2" name="pincode">

                        <label>Landmark</label>
                        <input type="text" class="form-control mb-2" name="landmark">

                        <button type="submit" class="btn btn-outline-primary-2">
                            SAVE ADDRESS
                        </button>
                        <a href="/checkout">
                            <button type="button" class="btn btn-primary">
                                Cancel
                            </button>
                        </a> 
                    </form>
                </div><!-- .End .tab-pane -->
            </div>
        </div>
    </div>           
</main>

<%- include('../userLayouts/accountFooter.ejs') %>
<%- include('../userLayouts/footer.ejs') %>